---
BasedOnStyle: Google
UseTab: Never
IndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 90
BinPackParameters: false
SortIncludes: true
DerivePointerAlignment: false
PointerAlignment: Right
