*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store

build/
**/cmake-build-*/
# /captures
# .externalNativeBuild
.cxx
local.properties

*android/adas/app/src/main/cpp/build/*
*android/adas/app/build/*
*android/adas/app/libs/*
*android/adas/.tools/*
*.log
*.pyc
# *.png
*.xml
*.bin
*.yml
