android/adas/app/libs/arm64-v8a filter=lfs diff=lfs merge=lfs -text
android/adas/app/libs/definitions.jar filter=lfs diff=lfs merge=lfs -text
android/adas/app/libs/messaging-0.0.1.jar filter=lfs diff=lfs merge=lfs -text
android/adas/app/libs/openpilot-0.1-arm64-v8a-debug.aar filter=lfs diff=lfs merge=lfs -text
android/adas/app/libs/arm64-v8a/libjson11.so filter=lfs diff=lfs merge=lfs -text
android/adas/app/libs/arm64-v8a/liblmdb.so filter=lfs diff=lfs merge=lfs -text
android/adas/app/libs/arm64-v8a/libpandad.so filter=lfs diff=lfs merge=lfs -text
android/adas/app/libs/arm64-v8a/libprotobuf.so filter=lfs diff=lfs merge=lfs -text
android/adas/app/libs/arm64-v8a/libthneedrunner.so filter=lfs diff=lfs merge=lfs -text
android/adas/app/libs/arm64-v8a/libzmq_reader.so filter=lfs diff=lfs merge=lfs -text
android/adas/app/libs/arm64-v8a/libzmq.so filter=lfs diff=lfs merge=lfs -text
android/adas/app/libs/arm64-v8a/libadas_app.so filter=lfs diff=lfs merge=lfs -text
android/adas/app/libs/arm64-v8a/libJOCL_2_0_4-android-arm64.so filter=lfs diff=lfs merge=lfs -text
android/adas/app/libs/arm64-v8a/libpandaflash.so filter=lfs diff=lfs merge=lfs -text
android/adas/app/libs/arm64-v8a/libprotobuf-lite.so filter=lfs diff=lfs merge=lfs -text
android/adas/app/libs/arm64-v8a/libusb-1.0.so filter=lfs diff=lfs merge=lfs -text
android/adas/app/libs/arm64-v8a/libgdx-freetype.so filter=lfs diff=lfs merge=lfs -text
android/adas/app/libs/arm64-v8a/libgdx.so filter=lfs diff=lfs merge=lfs -text
android/adas/app/libs/arm64-v8a/libmessaging.so filter=lfs diff=lfs merge=lfs -text
android/adas/app/libs/arm64-v8a/libmodelparser.so filter=lfs diff=lfs merge=lfs -text
android/adas/app/libs/arm64-v8a/libopencv_java490.so filter=lfs diff=lfs merge=lfs -text
android/adas/app/libs/arm64-v8a/libprotoc.so filter=lfs diff=lfs merge=lfs -text
